<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>成绩分析系统</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!--  <script src="dist/xlsx.core.min.js"></script>-->
  <!--  <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>-->
  <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.mini.min.js"></script>
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.20.3/xlsx.core.min.js"></script>-->
  <!-- import Vue before Element -->
  <!--<script src="https://unpkg.com/vue@2/dist/vue.js"></script>-->
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.js"></script>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
  <!--<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>-->
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="root">
  <el-row>
    <el-upload
        class="upload-demo"
        ref="upload"
        action="#"
        :file-list="fileList"
        :on-change="handleFileChange"
        accept=".xls,.xlsx"
        drag
        multiple
        :auto-upload="false">
      <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
      <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">导出汇总数据</el-button>
      <div slot="tip" class="el-upload__tip">只能上传.xls,.xlsx文件</div>
    </el-upload>
  </el-row>

  <h4>数据筛选项 （总数据量<{{allDataLen}}>）</h4>
  <el-row>
    <template v-for="(v, k) in keysObj">
      <el-checkbox v-model="v.checked">{{k}}<{{v.num}}></el-checkbox>
    </template>
  </el-row>

  <h4>文件列表<{{excelFiles.length}}></h4>
  <el-row v-if="excelFiles.length">
    <el-button v-for="(file,i) in excelFiles"
               @click=fileIdx=i :key="file.name" :class="{'el-button--primary':i===fileIdx}"
    >{{file.name}}
    </el-button>
  </el-row>
  <h4>sheet列表<{{sheetNames.length}}></h4>
  <el-row v-if="sheetNames.length">
    <el-button v-for="(sheetName,i) in sheetNames"
               @click=sheetIdx=i :key="sheetName+i" :class="{'el-button--primary':i===sheetIdx}" round
    >{{sheetName}}
    </el-button>
  </el-row>

  <el-table
      :data="tableData"
      border
      style="width: 100%">
    <el-table-column v-for="(e) in tableCols"
                     :prop="e"
                     :label="e" :key="e"
                     sortable>
    </el-table-column>
  </el-table>

  <h5>一维数据表<{{tableData2.length}}></h5>
  <el-table
      :data="tableData2"
      border
      style="width: 100%">
    <el-table-column v-for="(e) in ['学期','学校','年级','班级','科目','小分','val']"
                     :prop="e"
                     :label="e"
                     :key="e"
                     sortable>
    </el-table-column>
  </el-table>
</div>
</body>

<script>
  let $q = s => document.querySelector(s),
      $qa = s => Array.from(document.querySelectorAll(s)),
      $localGet = (key, def = {}) => localStorage.hasOwnProperty(key) ? JSON.parse(localStorage[key]) : def,
      $localSet = (key, val) => localStorage.setItem(key, JSON.stringify(val)),
      $rf = (min, max) => 1000 * Math.floor(min + (max - min) * Math.random()),
      $log = (msg, f) => {
        console.log(msg);
        let k = `log_${new Date().getDate()}`;
        let log = $localGet(k, []);
        log.push(`[${new Date().toLocaleString()}]${msg}`);
        $localSet(k, log);
        if (f) alert(msg);
      },
      $val = e => isNaN(e) ? e : Number(e),
      $empty = e => {
        if (e === 0) return false;
        if (e === false) return false;
        return !e;
      };

  function downloadTxt(fileName, content) {
    let blob = new Blob([content], {
      type: "text/plain;charset=utf-8"
    });
    let reader = new FileReader();
    reader.readAsDataURL(blob);
    reader.onload = function (e) {
      let a = document.createElement('a');
      a.download = fileName;
      a.href = e.target.result;
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }
  }

  document.VVue = new Vue({
    el: '#root',
    data: {
      fileList: [],
      keysObj: {},
      allDataLen: 0,
      tableData: [],
      tableData2: [],
      excelFiles: [],
      workbookObj: {},
      sheetNames: [],
      fileIdx: -1,
      sheetIdx: 0
    },
    methods: {
      submitUpload() {
        const innerHtml = "";
        downloadTxt(`查询网站.html`, innerHtml);
      },
      async handleFileChange({raw}, fileList) {
        const wb = await new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsArrayBuffer(raw);
          reader.onload = e => resolve(XLSX.read(e.target.result, {type: 'binary', cellDates: true}));
        });
        this.excelFiles.push({name: raw.name, sheetNames: wb.SheetNames});
        document.wbs = document.wbs || [];
        document.wbs.push(wb);
        this.parseWorkbook(wb, raw.name)
        this.fileIdx = -1;
        this.fileIdx = 0;
        //处理所有列表数据为json数组
        const jsonArr = document.wbs.map(wb => wb.SheetNames.map(sheet => XLSX.utils.sheet_to_json(wb.Sheets[sheet])).flatMap(e => e)).flatMap(e => e);
        this.allDataLen = jsonArr.length;
        const keysObj = {};
        jsonArr.map(json => Object.keys(json)).flatMap(e => e).forEach(k => {
          if (keysObj[k]) (keysObj[k]).num++;
          else keysObj[k] = {field: k, num: 1, checked: false};
        });
        this.keysObj = keysObj;
      },
      parseWorkbook(wb, filename) {
        let workbookObj = $localGet("workbookObj", {});
        workbookObj[filename] = wb.SheetNames.reduce((obj, sheetName) => {
          let csv = XLSX.utils.sheet_to_csv(wb.Sheets[sheetName], {FS: ',,', RS: '[\n]', blankrows: false})
              .split('[\n]').map(line => line.split(',,'));
          let lens = csv.map(arr => {
            for (let i = arr.length - 1; i >= 0; i--) if (!$empty(arr[i])) return i;
            return 0;
          });
          let col = Math.max(...lens) + 1;
          obj[sheetName] = csv.filter((arr, idx) => lens[idx]).map(arr => arr.slice(0, col));
          return obj;
        }, workbookObj[filename] || {});
        $localSet("workbookObj", workbookObj);
        let arrOne = Object.values(workbookObj).flatMap(workbooks => Object.values(workbooks)).flatMap(sheetArr => {
          let title = sheetArr[0].join("");
          let grade = title.match(/.年级/)[0];
          let semester = title.replace(/^.*([\d-]{4,}.+(学年度?|期)).+$/, '$1');
          let totalNum = $val(title.replace(/^.*?(\d+)个.+$/, '$1'));
          let commons = ['区域', '校码', '学校', '类别', '年级', '班级'];
          sheetArr[1].forEach((e, i) => {
            if (e) sheetArr[1][i] = sheetArr[1][i].replaceAll(/\s*/g, "");
            if (e === '学校代码') sheetArr[1][i] = '校码';
            if (e === '学校名称') sheetArr[1][i] = '学校';
            if (e === '学校类别') sheetArr[1][i] = '类别';
            if (e === '班级类别') sheetArr[1][i] = '类别';
            if (i && !e) sheetArr[1][i] = sheetArr[1][i - 1];
          });
          let startCols = [];
          for (let c in sheetArr[1]) {
            if (!commons.includes(sheetArr[1][c])) {
              startCols = Array.from({length: c}, (val, i) => i);
              break;
            }
          }
          return sheetArr.flatMap((row, r) => {
            return row.map((val, c) => {
              if (c < startCols.length || r < 3 || $empty(val)) return '';
              let obj = {val: $val(val)};
              obj['标题'] = title;
              obj['学期'] = semester;
              startCols.forEach((e, i) => obj[sheetArr[1][e]] = $val(sheetArr[r][e]));
              obj['年级'] = grade;
              obj['科目'] = $val(sheetArr[1][c]);
              if (sheetArr[2][c] && sheetArr[1][c] !== sheetArr[2][c]) obj['小分'] = $val(sheetArr[2][c]);
              return obj;
            }).filter(e => e);
          });
        });
        $localSet("sheetObj", arrOne);
        this.tableData2 = arrOne;
      },
      loadFileFn(fileIdx, sheetIdx) {
        fileIdx = fileIdx || this.fileIdx;
        sheetIdx = sheetIdx || 0;
        const sheetName = this.excelFiles[fileIdx].sheetNames[sheetIdx];
        const sheetJson = XLSX.utils.sheet_to_json(document.wbs[fileIdx].Sheets[sheetName]);
        if (!sheetJson || !sheetJson.length) {
          return;
        }
        this.tableData = sheetJson;
      }

    }, computed: {
      tableCols() {
        return Object.keys(this.tableData[3] || {});
      }
    },
    watch: {
      fileIdx(index) {
        if (index < 0) return;
        this.sheetIdx = 0;
        this.sheetNames = this.excelFiles[this.fileIdx].sheetNames
        this.loadFileFn(index);
      }, sheetIdx(index) {
        this.loadFileFn(0, index);
      }
    },
    created() {
      this.tableData2 = $localGet("sheetObj", []);
    }
  });
</script>
</html>

