.validator-button {
    background: 0 0;
    vertical-align: middle;
    font-size: .875rem;
    outline: 0;
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    padding-left: .875rem;
    padding-right: .875rem;
    text-align: center;
    min-width: 5rem;
    height: 2rem;
    background-color: #e50017;
    border: 1px solid #e50017;
    border-radius: 1px;
    color: #fff;
}

.reset-button {
    background: 0 0;
    vertical-align: middle;
    font-size: .875rem;
    outline: 0;
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    padding-left: .875rem;
    padding-right: .875rem;
    text-align: center;
    min-width: 5rem;
    height: 2rem;
    border: 1px solid #bfc4cc;
    border-radius: 1px;
    color: #36383c;
}

.disable-button {
    background: 0 0;
    vertical-align: middle;
    font-size: .875rem;
    outline: 0;
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    padding-left: .875rem;
    padding-right: .875rem;
    text-align: center;
    min-width: 5rem;
    height: 2rem;
    border-radius: 1px;
    color: #36383c;
    border: 1px solid #f0f2f5;
    background: #f0f2f5 !important;
}

.idType-select .idType-label {
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: .75rem;
    color: #91989e;
    margin-right: 0;
    display: block;
    text-align: left;
    padding: 0 .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.idType-select .title-color {
    color: #e50017;
    position: absolute;
    left: .25rem;
    font-size: .875rem;
}

.idType-select .idType-div {
    padding: 0 .75rem;
    font-size: 1rem;
}

.hlds-form-element {
    border: 1px solid #e1e3e5;
    margin-top: 10px;
}

.hlds-form-element.hlds-is-disabled {
    background: #f0f2f5!important;
    color: #91989e!important;
    pointer-events: none;
}

.hlds-required {
    color: #e50017;
    position: absolute;
    left: 10px;
    font-size: 12px;
}

.hlds-form-element__label {
    font-size: 12px;
    color: #91989e;
    margin-right: 0;
    display: block;
    text-align: left;
    padding: 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.hlds-input {
    padding-left: 0;
    background: 0 0;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    outline:none;
    border: none !important;
    width: calc(100% - 16px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hlds-image {
    width: 1rem;
    height: 1rem;
    position: absolute;
    margin-top: -.5rem;
    fill: #768491;
    background: 0 0;
    color: #36383c;
    border: 1px solid transparent;
    vertical-align: middle;
    font-size: .875rem;
    outline: 0;
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
}

.hlds-form-element__control {
    padding: 0 10px;
}

ul,
li {
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
}

ul li .hlds-lookup {
    padding: 4px 6px;
    display: flex;
    color: #6f7479;
    align-items: center;
    text-align: left;
    width: 100%;
    line-height: 1.5;
    border-radius: 0;
}

.hlds-dropdown-trigger {
    width: calc(100% - 5px);
    z-index: 7000;
    float: left;
    border: 1px solid #e1e3e5;
    font-size: 14px;
    background: #fff;
}

#datetimepicker_div .datetimepicker_links a {
    background: url(./image/page_arrow.png) no-repeat;
}

#datetimepicker_div .datetimepicker_prev a {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    vertical-align: middle;
    background-position: 0 -13px;
}

#datetimepicker_div .datetimepicker_prev {
    padding: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    float: left;
    overflow: hidden;
    width: 20%;
    white-space: nowrap;
}

#datetimepicker_div .datetimepicker_current {
    float: left;
    width: 60%;
    padding-top: 0;
    text-align: center;
    white-space: nowrap;
}

#datetimepicker_div .datetimepicker_next {
    padding: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    float: right;
    overflow: hidden;
    width: 20%;
    white-space: nowrap;
}

#datetimepicker_div .datetimepicker_next a {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-position: 0 -28px;
    vertical-align: middle;
}

.datetimepicker_prev .prev_year {
    background-position: 0 0 !important;
}

.datetimepicker_next .next_year {
    background-position: 0 -43px !important;
}

#datetimepicker_div a,
#datetimepicker_div div,
#datetimepicker_div span,
#datetimepicker_div td {
    text-align: center;
}

.datetimepicker {
    background: #fff;
    text-align: center;
    font-size: 100%;
    clear: both;
    float: left;
    width: 100%;
    color: #000;
}

#datetimepicker_div .datetimepicker_time {
    overflow: hidden;
    padding: 8px 12px;
}

#datetimepicker_div .datetimepicker_time .datetimepicker_selecteddate {
    font-weight: 700;
    line-height: 20px;
    font-size: 14px;
    float: left;
    color: #36383c;
}

#datetimepicker_div .datetimepicker_time .datetimepicker_timepicker {
    float: right;
}

#datetimepicker_div .timepicker {
    float: left;
    height: 23px;
    margin: 0;
    padding: 0 5px;
    list-style: none;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    background: #fff;
}

#datetimepicker_div .timepicker li {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    float: left;
    margin: 0;
    padding: 0;
    color: #36383c;
}

#datetimepicker_div .timepicker li input {
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 21px;
    border: 0 none;
    line-height: 20px;
}

.datetimepicker_button>.ok-button {
    display: inline-block;
    min-width: 80px;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    margin-left: 0;
    margin-right: 10px;
    background-color: #e50017;
    border: 1px solid #e50017;
    color: #fff;
}
.datetimepicker_button>.cancel-button {
    min-width: 80px;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    margin-left: 0;
    margin-right: 10px;
}
.component__checkbox{
    padding: 20px;
}
.component__checkbox .hlds-checkbox--faux {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #768491;
    background: #fff;
    box-sizing: border-box;
    transition: border .1s linear,background-color .1s linear;
}
.component__checkbox .hlds-form-element__label {
    display: inline !important;
    vertical-align: middle;
    color: #36383c;
    height: 20px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 0;
    min-width: 0;
}

.component__checkbox.hlds-is-disabled{
    background: #f0f2f5!important;
}
